*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;      
}

#root{    
    width: 100%;
    height: 100%;    
}

/* Chrome / Edge / Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: red;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c5c9cf;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #e2e4e9
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c5c9cf #f3f5f7;
}


.branched {
  background-color: #bcd8f7;
  width: fit-content;
  color: black;
}

.react-flow__edges {
  z-index: 10 !important;
}

.react-flow__nodes {
  z-index: 5 !important;
}

.pre-code-block, .code-block{
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #bebebe #181818;
  font-family:
  ui-monospace,
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;
  color: white !important;
}

.pre-code-block::-webkit-scrollbar-thumb:hover, .code-block::-webkit-scrollbar-thumb:hover{
  background: white;
}

.msg-container > * {
  font-size: 18px;
}

.markdown-body {
  font-size: 18px;        
  line-height: 1.6;
  /* color: #e6e6e6; */
  word-break: break-word;
}

/* Headings */

.markdown-body h1 {
  font-size: 2rem;
  margin: 24px 0 16px;
}

.markdown-body h2 {
  font-size: 1.6rem;
  margin: 22px 0 14px;
}

.markdown-body h3 {
  font-size: 1.3rem;
  margin: 20px 0 12px;
}

/* Paragraph spacing */

.markdown-body p {
  margin: 12px 0;
}

/* Lists indentation */

.markdown-body ul,
.markdown-body ol {
  padding-left: 24px;
  margin: 10px 0;
}

.markdown-body li {
  margin: 6px 0;
}

/* Code blocks */

/* .markdown-body pre {
  background: #1e1e1e;
  padding: 0 14px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 14px 0;
} */

/* .markdown-body code {
  font-family: monospace;
  font-size: 1.4em;
  color: white;
} */

/* Inline code */

/* .markdown-body p code {
  background: #1e1e1e;
  padding: 3px 6px;
  border-radius: 4px;
}  */

/* Images */

.markdown-body img {
  max-width: 75%;
  border-radius: 16px;
  margin: 12px 4px;
}

/* Tables */

.markdown-body table {
  border-collapse: collapse;
  margin: 12px 0;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #444;
  padding: 8px;
}