*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;      
}

#root{    
    width: 100%;
    height: 100%;    
}

/* Chrome / Edge / Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: red;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c5c9cf;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #e2e4e9
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c5c9cf #f3f5f7;
}


.branched {
  background-color: #bcd8f7;
  width: fit-content;
  color: black;
}

.react-flow__edges {
  z-index: 10 !important;
}

.react-flow__nodes {
  z-index: 5 !important;
}