*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;      
}

#root{    
    width: 100%;
    height: 100%;    
}

/* Chrome / Edge / Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #95a4b8;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}


.branched {
  background-color: #bcd8f7;
  width: fit-content;
  color: black;
}